.content {
    text-align: center;
    background-color: #fffbf6;
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
}
  
.content h3 {
    width: fit-content;
    height: 6vh;
    padding: 30px 15px 30px 15px;
    margin: auto;
  
}
  
.content ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}
  
.content li {
    box-sizing: border-box;
    width: 90%;
    height: 5vh;
    border-radius: 10px;
    background-color: #F5EFE6;
    cursor: pointer;
    padding: 5px 0;
}
  
.content li:hover {
    background-color: #E8DFCA;
    box-sizing: border-box;
}
  
.content .trueLi{
    color: #1A4D2E;
    border: 1px solid #1A4D2E;
    background-color: #ccdbcd;
}
  
.content .falseLi{
    color: rgb(186, 106, 92);
    border: 1px solid rgb(186, 106, 92);
    background-color: rgb(240, 221, 217);
}
  
.content img {
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #F5EFE6;
    width: 400px;
    height: 150px;
    margin-top: 15px;
    object-fit: cover;
}